@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDT";
}
<div class="page" id="router6">
    <div class="content">
        <div class="content-block-title">标题和副标题</div>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">商品名称</div>
                        <div class="item-after">123</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">型号</div>
                        <div class="item-after">456</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
