@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    Layout = "_LayoutDT";
}

<div class="page" id="router7">
    <div class="content">

    </div>
    </div>
